@mixin layout-inner ($width) {
  position: relative;

  @media (min-width: $width + 22px) {
    margin: 0 auto;
    width: $width;
  }

  @media (max-width: $width + 21px) {
    width: 100%;
    padding: 0 15px;
  }
}

@mixin layout ($width, $class:null) {
  @if ($class == null) {
    .layout {
      @include layout-inner($width);
    }
  }
  @else {
    .layout.#{$class} {
      @include layout-inner($width);
    }
  }
}